@keyframes typing {
    0% {
        width: 0;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 100%;
        border-top-color: $white;
        border-bottom-color: $white;
    }
}
@keyframes wave {
    0% {
        width: 1rem;
    }

    50% {
        width: 2rem;
    }

    100% {
        width: 1rem;
    }
}
@keyframes pulse {
    0% {
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    }

    50% {
        text-shadow: 10px 10px 50px rgba(0, 0, 0, 1);
    }

    100% {
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    }
}
@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes float {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }

    50% {
        transform: translate(0%, 0%) rotate(180deg);
        -webkit-filter: grayscale(50%) contrast(90%) blur(0.5px);
        filter: grayscale(50%) contrast(90%) blur(0.5px);
    }

    100% {
        transform: translate(0, 0) rotate(360deg);
        -webkit-filter: grayscale(50%) contrast(90%) blur(0);
        filter: grayscale(50%) contrast(90%) blur(0);
    }
}

@keyframes rotation_moon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes typing {
    0% {
        width: 0;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 100%;
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
}
@keyframes rotating-galaxy {
    0% {
        transform:  rotate(0deg) scale(1);
    }

    50% {
        transform:rotate(-180deg) scale(1.1);
    }

    100% {
        transform:rotate(-360deg) scale(1);
    }
}

@keyframes float-in {
    from {
        top: -100%;
    }

    to {
        top: 20%;
    }
}
@keyframes slideUpIn {
    0% { 
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}