//fonts
$OpenSans: "Open Sans", sans-serif;
$Alberta:  "Allerta Stencil", sans-serif;
$Courier: Courier, sans-serif;
$textShadow:2px 2px 1px rgba(0, 0, 0, 1);

//colors
$white: #fff;
$border-desc: solid rgba(255, 255, 255, 0.7);
$bg: #072861;
$nasa-red: #e4172c;
$accent:#D5AC4E;
$black:#000;
$grey-black: #222;
$olive: #364e41;